<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.zzhy.supervise.mapper.ApiSlideshowMapper">

    <resultMap id="SlideshowResultMap" type="com.zzhy.supervise.domain.Slideshow" >
    <id column="banner_id" property="bannerId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="position_type" property="positionType" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="jump_url" property="jumpUrl" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="delete_name" property="deleteName"/>
    <result column="delete_id" property="deleteId"/>
</resultMap>
<update id="updateSlideshow" parameterType="com.zzhy.supervise.domain.Slideshow">
    update slideshow
    <set >
        <if test="title != null" >
            title = #{title,jdbcType=VARCHAR},
        </if>
        <if test="sort != null" >
            sort = #{sort,jdbcType=TINYINT},
        </if>
        <if test="positionType != null" >
            position_type = #{positionType,jdbcType=VARCHAR},
        </if>
        <if test="startTime != null" >
            start_time = #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="endTime != null" >
            end_time = #{endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="jumpUrl != null" >
            jump_url = #{jumpUrl,jdbcType=VARCHAR},
        </if>
        <if test="imgUrl != null" >
            img_url = #{imgUrl,jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null" >
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="delFlag != null" >
            del_flag = #{delFlag,jdbcType=CHAR},
        </if>
        <if test="status != null" >
            status = #{status,jdbcType=CHAR},
        </if>
        <if test="createBy!= null" >
            create_by = #{createBy,jdbcType=VARCHAR},
        </if>
    </set>
    where  banner_id= #{bannerId,jdbcType=BIGINT}
</update>
    <select id="findSlideshowByTitleAndLocation" parameterType="map" resultMap="SlideshowResultMap">
        select * from slideshow
        <where>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="title != null and title != ''"> and  title = #{title}</if>
            <if test="positionType != null and positionType!= ''"> and position_type = #{positionType}</if>
        </where>
        order by sort desc,start_time
    </select>
</mapper>